@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../src/assets/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../src/assets/fonts/Satoshi-Variable.woff") format("woff"),
    url("../src/assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Satoshi-Variable", sans-serif;
}

@font-face {
  font-family: "grifter-bold";
  src: url("../src/assets/fonts/grifterbold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@theme {
  --color-custom-gray: #3a3a3a;
  --color-light-purple: #d8c6ff;
  --color-light-purple-2: #e5dbfb;
  --color-light-purple-3: #eae7ff;
  --color-light-purple-4: #f6ddfd;
  --color-dark-purple: #563acc;
  --color-dark-purple-2: #5a5df7;
}

.grifter {
  font-family: "grifter-bold", sans-serif;
  font-weight: bold;
}

.radial-gradient {
  background: radial-gradient(
      circle at 50% 0%,
      rgba(var(--radial-gradient-background), 0.05) 0%,
      transparent 60%
    )
    rgba(var(--solid-color-background), 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
    rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
    rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
