@import "tailwindcss";

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../src/assets/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../src/assets/fonts/Satoshi-Variable.woff") format("woff"),
    url("../src/assets/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Satoshi-Variable", sans-serif;
}

@font-face {
  font-family: "grifter-bold";
  src: url("../src/assets/fonts/grifterbold.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@theme {
  --color-custom-gray: #3a3a3a;
  --color-light-purple: #d8c6ff;
  --color-light-purple-2: #e5dbfb;
  --color-light-purple-3: #eae7ff;
  --color-light-purple-4: #f6ddfd;
  --color-dark-purple: #563acc;
  --color-dark-purple-2: #5a5df7;
}

.grifter {
  font-family: "grifter-bold", sans-serif;
  font-weight: bold;
}
